<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Options</title>
</head>
<body>
    <div id="body">
        <div id="header">
            <header>Unauthorized</header>
        </div>
        <div id="uGallery">
            <div id="uInfoSpace" style="align-self: center; justify-self: center; padding: 20px; background-color: #a6baf6;">
                <h1>YOU ARE NOT AUTHORIZED TO VIEW THIS PAGE</h1>
                <br>
                <h2>Please login to view this content</h2>
                <br>
                <a href="/api/users/login">Login</a>
            </div>
        </div>
        <div id="footer">
            <%- include('../partials/footer') %>
        </div>
    </div>
</body>
</html>